<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.epistimis.com/face/Face"
			class = "com.epistimis.face.face.FacePackage"
			genModel = "model/generated/Face.genmodel" />
	</extension>
</plugin>
